.grid-grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: ghostwhite;
  margin-top: 5%;
  font-weight: bold;
  height: 75vh;
}

.grid-row {
  display: flex;
  justify-content: center;
}

.grid-hint {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row-hint-number {
  padding: 1px;
  font-size: 10pt;
}

.tile {
  border: solid ghostwhite;
  transition: 0.5s;
}

.hint-solved {
  color: gray;
}

.tile-unselected:not(.tile-solved) {
  cursor: pointer;
}

.tile-unselected:hover {
  background-color: ghostwhite;
}

.tile-selected {
  background-color: ghostwhite;
}

.tile-selected.tile-solved {
  background: ghostwhite;
}

.tile-unselected.tile-solved {
  opacity: 0.3;
  background: lightgray
    repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2.5px,
      ghostwhite 2.5px,
      ghostwhite 22.5px
    );
}
